@import url(https://fonts.googleapis.com/css?family=Lato:400, 700,300);
body {
  background-color: #ffb242;
  font-family: lato, 'helvetica-light';
  position: relative;
  text-transform: uppercase;
  padding: 20px 0;
}

#form-container {
  margin: auto;
  width: 500px;
  height: 290px;
  position: relative;
}